<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ft.backend.work.dao.GonggaoMapper">

    <resultMap id="BaseResultMap" type="com.ft.backend.work.model.Gonggao">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="creater" jdbcType="VARCHAR" property="creater" />
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,keyword,content,create_time,creater,is_deleted
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ft.backend.work.model.Gonggao">
        <![CDATA[
        insert into gonggao (title,keyword,content,create_time,creater,is_deleted)
        values ( #{title,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR}, now(), #{creater,jdbcType=VARCHAR}, 0)
            ]]>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from gonggao
        where id = #{id}
    </delete>

    <select id="selectById" parameterType="java.lang.Long"
            resultType="com.ft.backend.work.model.Gonggao">
        select <include refid="Base_Column_List" />
        from gonggao
        where id = #{id}
    </select>

    <select id="selectByCondition" parameterType="com.ft.backend.work.client.QueryCondition.GonggaoQueryCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from gonggao
        <include refid="QUERY_WHERE_PART_CLAUSE"/>
        <if test="orderColumn != null and orderType != null"><![CDATA[  ORDER BY ${orderColumn}  ${orderType} ]]></if>
        <if test="orderColumn == null or orderColumn=='' or orderType==null or orderType=='' "> ORDER BY create_time DESC
        </if>
        <include refid="QUERY_LIMIT_CONDITION"/>
    </select>


    <!-- 查询总条数 -->
    <select id="countByCondition" parameterType="com.ft.backend.work.client.QueryCondition.GonggaoQueryCondition" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from gonggao
        <include refid="QUERY_WHERE_PART_CLAUSE"/>
    </select>

    <!-- 分页 -->
    <sql id="QUERY_LIMIT_CONDITION">
        <if test="pageIndex != null and pageIndex &gt; 0 and pageSize != null and pageSize &gt; 0">LIMIT #{offset}, #{pageSize}</if>
    </sql>
    <!-- 查询条件 -->
    <sql id="QUERY_WHERE_PART_CLAUSE">
        <where>
            <if test="title !='' and title != null "><![CDATA[AND title like CONCAT('%',#{title},'%' )]]>
            </if>
            <if test="keyword !='' and keyword != null "><![CDATA[AND keyword like CONCAT('%',#{keyword},'%' )]]>
            </if>
        </where>
    </sql>
</mapper>