<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <properties>
        <property name="LOG_HOME">/opt/web/logs</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--
        <File name="simple" fileName="logs/test.log" >
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        -->

        <RollingRandomAccessFile name="log" fileName="../trace.log" filePattern="../trace.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>

        <Logger name="com.ft.backend.work.dao" level="DEBUG" additivity="false">
        </Logger>

    </appenders>

    <loggers>

        <root level="DEBUG">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>